html,
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: orange;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}

.cities-container {
  display: flex;
  flex-direction: column;
}

.cities-container a {

}

.city-photo-container {
  background-color: #000;
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  /*flex: 1;*/
}

.city-view-container h1 {
  color: white;
}

.posts-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  max-width: 500px;
  flex: 1;
}

.header-title {
  color: white;
}

.index-header {
  justify-content: flex-end;
}

.index-title {
  position: relative;
  font-size: 38px;
  color: white;
  margin-left: 3em;
  margin-bottom: 0;
}

.index-blurb {
  position: relative;
  margin-top: 0;
  margin-left: 6em;
}

.header-title {
  font-size: 24px;
  margin: 0;
  color: white;
  margin-left: 4em;
}

.city-option {
  margin-bottom: 1em;
}

.header-title:hover {
  text-decoration: none;
  color: orange;
  font-size: 24px;
  margin: 0;
  color: white;
  margin-left: 4em;
}

header .nav {
  margin-right: 4.5em;
}

.nav-pills li a {
  color: white;

}

.nav-pills li a:hover {
  background-color: orange;
  transition: 1s;
}

.main-container,
.profile-container,
.city-view-container {
  display: flex;
  min-width: 400px;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  flex: 1;
}

.main-container {
  flex-direction: column;
  background-image: url('./img/ryan-wilson-6626.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-container {
  flex-direction: row;
}

.new-post-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

textarea.form-control {
  min-width: 420px;
  min-height: 200px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.btn-new-post {
  max-width: 200px;
  margin: 0 auto;
}

.city-view-container {
  display: flex;
  flex-direction: column;
  /*background-color: aqua;*/
}

.city-view-image {
  flex: 1;
  background-color: goldenrod;
  border: 1px solid black;
  width: 100%;
  height: 50%;
  max-height: 280px;
}

.city-posts-container {
  display: flex;
  background-color: pink;
  flex: 1;
  width: 100%;
  height: 50%;
}

.background-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-image: url('./img/balloons-over-bagan.jpg');
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  min-height: 400px;
  color: white;
  background-color: blue;
  flex: 1;
}

.post-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}
.post-content a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-content h3 {
  display: inline;
  margin: 0;
}

.post-content p {
  display: inline;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 400px;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin-bottom: 1em;
}

.profile-info img {
}

.posts-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  flex: 1;
}

.posts-content p {
  display: inline;
}
.post-single {
  padding: 1em;
  margin-bottom: 1em;
  width: 90%;
  max-height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}


.post-buttons {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: space-around;
}

.profile-posts {
  display: flex;
  height: 75%;
  min-height: 400px;
  background-color: goldenrod;
  flex: 2;
}
.form-inline {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 1em;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #000;
}
