include ./partials/head
include ./partials/nav

.container 
  .cities-container
    if (cities)
      each city in cities
        a(href='/cities/' + city.name + '/' + city.id)
          li= JSON.parse(JSON.stringify(city.name))

include ./partials/footer
