include ./partials/head

header.header.index-header
  ul.nav.nav-pills.header-nav
    li(role='presentation')
      a(href='/users/login') Login
    li(role='presentation')
      a(href='/users/signup') Signup

.background-container
  h1.index-title Roam 
  h3.index-blurb around the world

include ./partials/footer
