include ./partials/head
include ./partials/nav

.container.main-container 
  h1 Login
  form.form-inline(method='POST' action='/users/login')
    input.form-control.mb-2.mr-sm-2.mb-sm-0(type='text', name='username', placeholder='Username...')
    input.form-control(type='password', name='password', placeholder='Password...')
    button.btn.btn-primary(type='submit') Login
  h5 #{error}
include ./partials/footer 
