include ./partials/head
include ./partials/nav

.container.main-container 
  h1 Login
  form.form-inline
    input.form-control.mb-2.mr-sm-2.mb-sm-0(type='text', placeholder='Username...')
    input.form-control(type='password', placeholder='Password...')
    button.btn.btn-primary(type='submit') Login

include ./partials/footer 
