include ./partials/head
include ./partials/nav

.container.profile-container
  .profile-info
    .column
      .profile-pic
        img 
      p #{user}
      p Member Since: #{dateJoined.toDateString()}
      p Current City: 
  .profile-posts 
    .posts-column
      form(method='GET', action='/cities')
        input.btn.btn-success(type='submit' value='See All Cities')
      each post in posts 
        .post-content
          .post-single
            a(href='/cities/' + post.name + '/' + post.city_id)
              h3= post.name
            p= post.content
            a(href='#')
              span.glyphicon.glyphicon-edit
            a(href='#')
              span.glyphicon.glyphicon-trash
              
include ./partials/footer
