html 
  head 
    title Roam
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet")
    link(href='/styles.css', rel='stylesheet')
  body 
